@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  background-color: transparent;
  border: none;
}

@mixin button {
  @include button-reset;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(93.98deg, #3d45a6 0%, #a575c7 71.95%);

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(93.98deg, #3d46c2 0%, #820fa8 71.95%);
  }

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 29px;
  }
}

@mixin link-reset {
  text-decoration: none;
}

@mixin default-link {
  @include link-reset;
  color: rgba(0, 0, 0, 1);
}

@mixin default-title {
  margin: 0;
  padding: 0;
}

@mixin default-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (min-width: $desktop) {
    font-size: 48px;
    line-height: 58px;
  }
}


@mixin wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
}

@mixin input {
  padding: 12px 20px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  border: none;
  outline: none;

  &::placeholder {
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: #535568;
  }

  &:hover {
    background-color: #d6cfff;
  }

  &:focus-within {
    background-color: #ffffff;
    outline: 5px solid #5c54b1;
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      background-color: #bcb2f9;
    }

    &:focus-within {
      background-color: #ffffff;
      outline: 5px solid #7918ae;
    }
  }

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 18px;
    padding: 19px 20px;

    &::placeholder {
      font-size: 14px;
      line-height: 18px;
    }

    &:first-child {
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 22px;
    padding: 20px;

    &::placeholder {
      font-size: 18px;
      line-height: 22px;
    }

    &:first-child {
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 1;
    }
  }
}
