@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin link-reset {
  text-decoration: none;
}

@mixin default-link {
  @include link-reset;
  color: rgba(0, 0, 0, 1);
}
